@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.slide {
    transform: scale(0.4);
    transition: transform 300ms;
    opacity: 0.5;
    height: 600px;
}

.activeSlide {
    transform: scale(1.1);
    opacity: 1;
}